* {
    margin: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    background-color: #211F24;
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 16px;
}

nav {
    height: 80px;
    width: 100vw;
    background-color: #211F24;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 999;
}

.nav-left {
    width: 30%;
    height: 80px;
}

.nav-right {
    width: 70%;
    height: 80px;
}

.logo-container {
    height: 100%;
    width: 100%;
    padding-left: 100px;
    display: flex;
    align-items: center;
}

.logo-container img {
    height: 90%;
}

.links-container {
    text-align: right;
    padding-right: 100px;
}

.links-container a {
    color: #fff;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Trebuchet MS", sans-serif;
    margin-left: 6px;
    line-height: 80px;
    transition: all .2s ease-in-out;
    border-bottom: 1px solid #211F24;
}

.links-container a:hover {
    color: #E84A43;
    border-bottom: 2px solid #E84A43;
}

.links-container a:last-child {
    background-color: #E84A43;
    margin-left: 10px;
}

.links-container a:hover:last-child {
    color: #fff;
    background-color: rgb(189, 61, 55);
    border-bottom: 1px solid #211F24;
}

.btn-signup {
    padding: 20px;
    color: #211F24;     
    background-color: #f4bc54;
}

.content-body {
    margin-top: 80px;
    /* padding: 0 80px; */
    height: 100vh;
    z-index: 0;
}

.splash {

}

.splash .txt {
    width: 100%;
    margin-top: 16%;
    position: absolute;
    display: flex;
    flex-direction: column;
    font-family: "Ailerons", sans-serif;
}

.splash .about-pointer {
    width: 100%;
    margin-top: 35%;
    position: absolute;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: "Ailerons", sans-serif;
}

.about-pointer .container {
    text-align: center;
}

.splash .img {
    width: 100%;
}

.splash .img img {
    width: 100%;
}

.top-line, .bottom-line {
    width: 100%;
    display: flex;
    justify-content: center;
}

.splash .txt .top-line h1 {
    color: white;
    font-size: 60px;
}

.splash .txt .top-line span {
    color: #E84A43;
}

.bottom-line .line {
    height: 2px;
    width: 80px;
    background-color: #E84A43;
    margin-top: 26px;
}

.bottom-line h2 {
    margin: 12px 0 0 20px;
    color: #fff;
}

.bottom-line span {
    color: #E84A43;
}

.bottom-line .space {
    width: 130px;
}

.bottom-line img {
    height: 60px;
}

.about {
    height: 100vh;
}

.speaker-container {
    padding: 20px;
}

.speaker {
    height: 300px;
    width: 800px;
    padding: 20px;
    display: flex;
}

.speaker-left {
    height: 100%;
    width: 40%;
}

.speaker-left .img-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.speaker-left .img-container img {
    height: 100%;
}

.speaker-right {
    height: 100%;
    width: 60%;
}

.speaker-right .speaker-desc h1 {
    font-size: 32px;
    font-family: "Times New Roman", serif;
    margin-bottom: -4px;
}

.speaker-right .speaker-desc h2 {
    font-size: 20px;
    color: #73839C;
    font-family: "Trebuchet MS", sans-serif;
    font-weight: lighter;
}

.speaker-right .speaker-desc p {
    font-size: 16px;
    font-family: "Trebuchet MS", sans-serif;
}




