.content-body {
    height: 100vh;
    z-index: 0;

    h1 {
        color: $white;
        font-size: 30px;
    }
}

.splash {
    padding-top: 80px;

    .txt {
        width: 100%;
        margin-top: 16%;
        position: absolute;
        display: flex;
        flex-direction: column;
        font-family: "Aileronsregular", sans-serif;

        .top-line, .bottom-line {
            width: 100%;
            display: flex;
            justify-content: center;            
        }

        .top-line {

            h1 {
                color: $white;
                font-size: 60px;
            }

            span {
                color: $red;
            }
        }

        .bottom-line {

            .line {
                height: 2px;
                width: 80px;
                background-color: $red;
                margin-top: 26px;
            }

            h2 {
                margin: 12px 0 0 20px;
                color: $white;
            }

            span {
                color: $red;
            }

            .space {
                width: 130px;
            }

            img {
                height: 60px;
            }
        }
    }

    .about-pointer {
        width: 100%;
        margin-top: 35%;
        position: absolute;
        display: flex;
        flex-direction: column;
        color: $white;
        font-family: "Aileronsregular", sans-serif;

        .container {
            text-align: center;

            a {
                color: $white;
                text-decoration: none;

                div {
                    i {
                        font-size: 20px;
                    }
                }
            }
        }
    }

    .img {
        width: 100%;
        height: 100vh;
        overflow: hidden;

        img {
            width: 100%;
        }
    }
}




